:root {
    --main-color: #700785;
    --primary-color: #d500ff;
    --black: #13131a;
    --bg: #2f0038;
    --border: 0.2rem solid #fff;
    font-size: 11px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

body {
    background-color: var(--bg);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    z-index: 99;
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin: 0 1rem;
}

.navbar a:hover {
    color: #fff;
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.9rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.home-container {
    background: url("./imagens/ofc1.png") no-repeat center;
    height: 100vh;
    background-image: center;
    background-size: cover;
}

.home-container section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    max-width: 60rem;
}

.content h3 {
    font-size: 6rem;
    color: #fff;
}

.content p {
    font-size: 2rem;
    color: #fff;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.title span {
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--black);
}

.about .row .content {
    padding: 2rem;

}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;

}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span {
    color: #737373;
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.review .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: var(--border);
    color: #fff;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #fff;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}


.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    text-align: center;
}

.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover {
    background-color: var(--main-color);
}